@media screen and (min-width: 1920px) {

	header {
		margin: 0;
		background-image: url(../img/header-background.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 1000px;
		min-height: 1000px;
	}

	#logo {
		background-image: url(../img/graveyard-logo1920.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 1200px;
		height: 285px;
		margin: 0px auto;
		position: relative;
		top: 365px;
	}

	.color1 {
		background-color: #1b324c;
		background-image: url(../img/background-section1.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 1450px;
	}

	.color2 {
		background-color: #032755;
		background-image: url(../img/background-section2.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 1070px;
	}

	.color3 {
		background-color: #01152e;
		background-image: url(../img/background-section3.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 1070px;
	}

	.color4 {
		background-color: #1a3554;
		background-image: url(../img/background-section4.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 1070px;
	}

	.color5 {
		background-image: url(../img/background-section5.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 1070px;
	}
}


@media screen and (min-width: 1600px) and (max-width:1919px) {

	header {
		margin: 0;
		background-image: url(../img/header-background.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 830px;
		min-height: 830px;
	}

	#logo {
		background-image: url(../img/graveyard-logo.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 840px;
		height: 255px;
		margin: 0px auto;
		position: relative;
		top: 320px;
	}

		.color1 {
		background-color: #1b324c;
		background-image: url(../img/background-section1.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 1215px;
	}

	.color2 {
		background-color: #032755;
		background-image: url(../img/background-section2.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 890px;
	}

	.color3 {
		background-color: #01152e;
		background-image: url(../img/background-section3.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 890px;
	}

	.color4 {
		background-color: #1a3554;
		background-image: url(../img/background-section4.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 890px;
	}

	.color5 {
		background-image: url(../img/background-section5.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 890px;
	}
}

@media screen and (min-width:1440px) and (max-width: 1599px) {

	header {
		margin: 0;
		background-image: url(../img/header-background.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 750px;
		min-height: 750px;
	}

	#logo {
		background-image: url(../img/graveyard-logo.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 840px;
		height: 255px;
		margin: 0px auto;
		position: relative;
		top: 300px;
	}

	.color1 {
		background-color: #1b324c;
		background-image: url(../img/background-section1.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 1085px;
	}

	.color2 {
		background-color: #032755;
		background-image: url(../img/background-section2.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 805px;
	}

	.color3 {
		background-color: #01152e;
		background-image: url(../img/background-section3.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 805px;
	}

	.color4 {
		background-color: #1a3554;
		background-image: url(../img/background-section4.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 805px;
	}

	.color5 {
		background-image: url(../img/background-section5.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 805px;
	}
}





@media screen and (min-width: 1366px) and (max-width: 1439px) {

	header {
		margin: 0;
		background-image: url(../img/header-background.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 677px;
		min-height: 677px;
	}

	#logo {
		background-image: url(../img/graveyard-logo.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 840px;
		height: 255px;
		margin: 0px auto;
		position: relative;
		top: 230px;
	}

	.color1 {
		background-color: #1b324c;
		background-image: url(../img/background-section1.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 1025px;
	}

	.color2 {
		background-color: #032755;
		background-image: url(../img/background-section2.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 760px;
	}

	.color3 {
		background-color: #01152e;
		background-image: url(../img/background-section3.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 760px;
	}

	.color4 {
		background-color: #1a3554;
		background-image: url(../img/background-section4.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 760px;
	}

	.color5 {
		background-image: url(../img/background-section5.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 760px;
	}
}



@media screen and (min-width: 1024px) and (max-width: 1365px) {

	header {
		margin: 0;
		background-image: url(../img/header-background.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 535px;
		min-height: 535px;
	}

	#logo {
		background-image: url(../img/graveyard-logo.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 760px;
		height: 255px;
		margin: 0px auto;
		position: relative;
		top: 160px;
	}

	.color1 {
		background-color: #1b324c;
		background-image: url(../img/background-section1.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 770px;
	}

	.color2 {
		background-color: #032755;
		background-image: url(../img/background-section2.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 565px;
	}

	.color3 {
		background-color: #01152e;
		background-image: url(../img/background-section3.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 565px;
	}

	.color4 {
		background-color: #1a3554;
		background-image: url(../img/background-section4.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 565px;
	}

	.color5 {
		background-image: url(../img/background-section5.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 565px;
	}
}