@media screen and (min-width: 1920px) {

	#slide1 {
		margin: 0;
		background:url('../img/header-background.jpg') 100% no-repeat fixed;
		background-size: 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 1080px;
		min-height: 1080px;
		background-size: cover;
	}

	#logo {
		background-image: url(../img/graveyard-logo1920.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 1200px;
		height: 285px;
		margin: 0px auto;
		position: relative;
		top: 350px;
	}

	#arrow {
		background-image: url(../img/arrow-down.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 128px;
		height: 128px;
		position: relative;
		margin: 260px auto 0px auto;
		top: 250px;
	}

	#slide2 {
		background-color: #1b324c;
		background-image: url(../img/background-section1.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 1080px;
		overflow: hidden;
	}

	#slide3 {
		background-color: #032755;
		background-image: url(../img/background-section2.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 1080px;
	}

	#slide4 {
		background-color: #01152e;
		background-image: url(../img/background-section3.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 1080px;
	}

	#slide5 {
		background-color: #1a3554;
		background-image: url(../img/background-section4.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 1080px;
	}

	#slide6 {
		background-image: url(../img/background-section5.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 1080px;
	}

	.inner-content {
		margin: 0;
		padding: 0;
		color: #fff;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 4px;	
		text-align: center;
	}

	.title {
		margin: 50px 250px -135px 250px;
		padding: 15px 0px;
		font-size: 50px;
		font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
	}

	.bloco {
		margin: 230px 0px;
		padding: 30px;
		font-size: 1.39em;
	}
}


@media screen and (min-width: 1600px) and (max-width:1919px) {

	#slide1 {
		margin: 0;
		background:url('../img/header-background.jpg') 100% no-repeat fixed;
		background-size: 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 1080px;
		min-height: 1080px;
		background-size: cover;
	}

	#logo {
		background-image: url(../img/graveyard-logo1920.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 1200px;
		height: 285px;
		margin: 0px auto;
		position: relative;
		margin: 0px auto;
		top: 250px;
	}

	#arrow {
		background-image: url(../img/arrow-down.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 128px;
		height: 128px;
		position: relative;
		margin: 60px auto;
		top: 250px;
	}

	#slide2 {
		background-color: #1b324c;
		background-image: url(../img/background-section1.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 1000px;
		overflow: hidden;
	}

	#slide3 {
		background-color: #032755;
		background-image: url(../img/background-section2.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 1000px;
	}

	#slide4 {
		background-color: #01152e;
		background-image: url(../img/background-section3.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 1000px;
	}

	#slide5 {
		background-color: #1a3554;
		background-image: url(../img/background-section4.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 1000px;
	}

	#slide6 {
		background-image: url(../img/background-section5.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 1000px;
	}

	.inner-content {
		margin: 0;
		padding: 0;
		color: #fff;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 4px;	
		text-align: center;
	}

	.title {
		margin: 50px 250px -135px 250px;
		padding: 15px 0px;
		font-size: 50px;
		font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
	}

	.bloco {
		margin: 230px 0px;
		padding: 30px;
		font-size: 1.3em;
	}
}

@media screen and (min-width:1440px) and (max-width: 1599px) {

	#slide1 {
		margin: 0;
		background:url('../img/header-background.jpg') 100% no-repeat fixed;
		background-size: 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 900px;
		min-height: 900px;
		background-size: cover;
	}

	#logo {
		background-image: url(../img/graveyard-logo1920.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 1200px;
		height: 285px;
		margin: 0px auto;
		position: relative;
		margin: 0px auto;
		top: 250px;
	}

	#arrow {
		background-image: url(../img/arrow-down.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 128px;
		height: 128px;
		position: relative;
		margin: 350px auto;
	}

	#slide2 {
		background-color: #1b324c;
		background-image: url(../img/background-section1.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 900px;
		overflow: hidden;
	}

	#slide3 {
		background-color: #032755;
		background-image: url(../img/background-section2.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 900px;
	}

	#slide4 {
		background-color: #01152e;
		background-image: url(../img/background-section3.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 900px;
	}

	#slide5 {
		background-color: #1a3554;
		background-image: url(../img/background-section4.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 900px;
	}

	#slide6 {
		background-image: url(../img/background-section5.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 900px;
	}

	.inner-content {
		margin: 0;
		padding: 0;
		color: #fff;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 4px;	
		text-align: center;
	}

	.title {
		margin: 50px 250px -135px 250px;
		padding: 15px 0px;
		font-size: 50px;
		font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
	}

	.bloco {
		margin: 230px 0px;
		padding: 30px;
		font-size: 1.24em;
	}
}





@media screen and (min-width: 1366px) and (max-width: 1439px) {

	#slide1 {
		margin: 0;
		background:url(../img/header-background.jpg) 100% no-repeat fixed;
		background-size: 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 768px;
		min-height: 768px;
		background-size: cover;
	}

	#logo {
		background-image: url(../img/graveyard-logo.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 840px;
		height: 255px;
		margin: -60px auto;
		position: relative;
		top: 250px;
	}

	#arrow {
		background-image: url(../img/arrow-down.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 128px;
		height: 128px;
		position: relative;
		margin: 56px auto;
		top: 250px;
	}

	#slide2 {
		background-color: #1b324c;
		background-image: url(../img/background-section1.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 900px;
		overflow: hidden;
	}

	#slide3 {
		background-color: #032755;
		background-image: url(../img/background-section2.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 900px;
	}

	#slide4 {
		background-color: #01152e;
		background-image: url(../img/background-section3.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 900px;
	}

	#slide5 {
		background-color: #1a3554;
		background-image: url(../img/background-section4.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 900px;
	}

	#slide6 {
		background-image: url(../img/background-section5.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 900px;
	}

	.inner-content {
		margin: 0;
		padding: 0;
		color: #fff;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 4px;	
		text-align: center;
	}

	.title {
		margin: 5px 250px -135px 250px;
		padding: 15px 0px;
		font-size: 50px;
		font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
	}

	.bloco {
		margin: 170px 0px;
		padding: 30px;
	}
}



@media screen and (min-width: 1024px) and (max-width: 1365px) {

	#slide1 {
		margin: 0;
		background:url(../img/header-background.jpg) 100% no-repeat fixed;
		background-size: 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 900px;
		min-height: 900px;
		background-size: cover;
	}

	#logo {
		background-image: url(../img/graveyard-logo.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 840px;
		height: 255px;
		margin: 0px auto;
		position: relative;
		top: 250px;
	}

	#arrow {
		background-image: url(../img/arrow-down.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 128px;
		height: 128px;
		position: relative;
		margin: 60px auto;
		top: 200px;
		right: 120px;
	}

	#slide2 {
		background-color: #1b324c;
		background-image: url(../img/background-section1.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 900px;
		overflow: hidden;
	}

	#slide3 {
		background-color: #032755;
		background-image: url(../img/background-section2.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 900px;
	}

	#slide4 {
		background-color: #01152e;
		background-image: url(../img/background-section3.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 900px;
	}

	#slide5 {
		background-color: #1a3554;
		background-image: url(../img/background-section4.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 900px;
	}

	#slide6 {
		background-image: url(../img/background-section5.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 768px;
	}

	.inner-content {
		margin: 0;
		padding: 0;
		color: #fff;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 4px;	
		text-align: center;
	}

	.title {
		margin: 5px 250px -135px 250px;
		padding: 15px 0px;
		font-size: 50px;
		font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
	}

	.bloco {
		margin: 120px 0px;
		padding: 30px;
	}
	
	.left {
		background-color: #000;
		border-radius: 4px;
		width: 100%;
		height: auto;
		margin: 250px 0px 0px 0px;
	}

	.right {
		border-radius: 4px;
		width: 100%;
		height: 415px;
		margin: 250px 0px 0px 0px;
	}

	.tabs {
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		color: #c0c9df;
	  	position: relative;   
	  	min-height: 200px; /* This part sucks */
	  	clear: both;
	  	margin: 25px 0;
	}
	.tab {
		float: left;
	}

		.tab label { 
			padding: 14px 5px;
			background-color: #071930;
			margin-left: 0px;
			position: relative;
			left: 1px;
			cursor: pointer;
			-webkit-transition: all .15s ease-in-out;
			transition: all .15s ease-in-out;
		}

		.tab label:hover { 
			color: #255087;
			border-bottom: 1px solid #255087;
			z-index: 2;
		}

	.tab [type=radio] {
	  	display: none;   
	}

	.content {
	  	position: absolute;
	  	top: 48px;
	  	left: 0;
	  	background-color: #071930;
	  	border-radius: 0px 0px 4px 4px;
	  	border-top: 1px solid #c0c9df;
	  	right: 0;
	  	bottom: 0;
	  	padding: 20px;
	  	height: 365px;
	}

		[type=radio]:checked ~ label {
			color: #255087;
			border-bottom: 1px solid #255087;
		 	background-color: #071930;
		  	z-index: 2;
		}

			[type=radio]:checked ~ label ~ .content {
			  	z-index: 1;
			}

	.title-tab {
		margin-top: 0px;
	}
}