@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);

body {
	background-color: #0d2643;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

section {
	width: 100%;
	height: auto;
}

a {
	color: #50729d;
}

strong {
	color: #267be7;
}

.tudo {
	margin: 0;
	padding: 0;
	width: 100%;
}

.inner-content {
	margin: 0;
	padding: 0;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 4px;	
	text-align: center;
}

.title {
	margin: 5px 300px;
	padding: 15px 0px;
	font-size: 50px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
}

.bloco {
	margin: 150px 0px;
	padding: 30px;
}



#slide1, #slide2 { width: 100%; }

#slide1 {
	background:url('../img/header-background.jpg') 100% no-repeat fixed;
	height: 850px;
	margin: 0;
	background-size: cover;
}

#slide2 {
	margin: 0;
	padding: 80px 0px;
	background: url('../img/background-section1.png') 100% 20% no-repeat fixed;
	background-color: #1b324c;
	background-size: 100%;
	height: 900px;
	margin: 0 auto;
	overflow: hidden;
	width: 100%
}

#slide3 {
	margin: 0;
	padding: 80px 0px;
	background: url('../img/background-section2.png') 100% no-repeat fixed;
	background-size: 100%;
	background-color: #032755;
	height: 900px;	
	background-size: cover;
}

#slide4 {
	margin: 0;
	padding: 80px 0px;
	background: url('../img/background-section3.png') 100% 100% no-repeat fixed;
	background-color: #01152e;
	background-size: 100%;
	height: 900px;
}

#slide5 {
	margin: 0;
	padding: 80px 0px;
	background: url('../img/background-section4.png') 100% no-repeat fixed;
	background-size: 100%;
	background-color: #1a3554;
	height: 900px;
	margin: 0 auto;
	background-size: cover;
}

#slide6 {
	margin: 0;
	padding: 80px 0px;
	background: url('../img/background-section5.png') 100% no-repeat fixed;
	background-size: 100%;
	height: 900px;
	margin: 0 auto;
}

/*.divider {
	background-color: #142131;
	width: 100%;
	height: 15px;
	position: absolute;
}*/

/*.divider img {
	position: relative;
	left: 49%;
	top: -30px;
}*/

/*********************************HEADER********************************/
/*header {
	margin: 0;
	background-image: url(../img/header-background.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	z-index: 1;
}*/

#logo {
	background-image: url(../img/graveyard-logo.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 840px;
	height: 255px;
	margin: 0px auto;
	position: relative;
}

#arrow {
	background-image: url(../img/arrow-down.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 128px;
	height: 128px;
	position: relative;
	margin: 0px auto;
}

/*********************************HEADER********************************/


/*********************************NAVBAR********************************/
.navBar {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 100%;
	height: auto;
	background-color: #071930;
	text-align: center;
	z-index: 999;
}

	.navBar ul {
		margin: 0;
		padding: 0;
	}

		.navBar ul li {
			list-style-type: none;
			display: inline;
		}

			.navBar ul li a {
				margin: 0px 55px 0px 0px;
				padding: 0px 0px 0px 0px;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 2.35em;
				font-weight: 400;
				color: #c0c9df;
				line-height: 60px;
				outline: none;
				-webkit-transition: all .15s ease-in-out;
				transition: all .15s ease-in-out;
			}

			.navBar ul li a:hover {
				text-decoration: none;
				color: #255087;
				border-top: 6px solid #255087;
			}

		.navBar li a.active {
			color: #255087;
			border-top: 6px solid #255087;
		}

.last-child {
	margin-right: 0px !important;
}
/*********************************NAVBAR********************************/


/*********************************SERVIÇOS******************************/
.left {
	background-color: #000;
	border-radius: 4px;
	width: 100%;
	height: auto;
	margin: 250px 0px 0px 0px;
}

.right {
	border-radius: 4px;
	width: 100%;
	height: 415px;
	margin: 250px 0px 0px 0px;
}

.tabs {
    position: relative;
	margin: 40px auto;
	width: 100%;
}

	.tabs input {
		position: absolute;
		z-index: 1000;
		height: 40px;
		left: 0px;
		top: 0px;
		opacity: 0;
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	    filter: alpha(opacity=0);
		cursor: pointer;
	}

	.tabs input#tab-2{
		left: 120px;
	}

	.tabs input#tab-3{
		left: 240px;
	}

	.tabs input#tab-4{
		left: 360px;
	}

	.tabs label {
		background: #071930;
		margin-bottom: 2px;
		font-size: 9px;
		line-height: 40px;
		height: 40px;
		position: relative;
		padding: 0 0px;
		float: left;
		display: block;
		width: 25%;
		color: #c0c9df;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
		cursor: pointer;
	}

	.tabs label:after {
	    content: '';
		background: #255087;
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 100%;
		height: 2px;
		display: block;
	}

		.tabs input:hover + label {
			background: #255087;
		}

	.tabs label:first-of-type {
	    z-index: 4;
	    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
	}

.tab-label-1 {
	border-radius: 4px 0px 0px 0px;
}

.tab-label-2 {
    z-index: 3;
}

.tab-label-3 {
    z-index: 2;
}

.tab-label-4 {
    z-index: 1;
    border-radius: 0px 4px 0px 0px;
}

.tabs input:checked + label {
    background: #255087;
	z-index: 6;
    -webkit-animation: page 0.2s linear;
    -moz-animation: page 0.2s linear;
    -ms-animation: page 0.2s linear;
    -o-animation: page 0.2s linear;
    animation: page 0.2s linear;
}

.clear-shadow {
	clear: both;
}

.content {
    background: rgba(0,0,0, 0.3);
	position: relative;
    width: 100%;
	height: 370px;
	z-index: 5;
	overflow: hidden;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0px 0px 4px 4px;
}

	.content div {
	    position: absolute;
		top: 0;
		padding: 10px 40px;
		z-index: 1;
	    opacity: 0;
	    -webkit-transition: all linear 0.3s;
	    -moz-transition: all linear 0.3s;
	    -o-transition: all linear 0.3s;
	    -ms-transition: all linear 0.3s;
	    transition: all linear 0.3s;
	}

.content-1, .content-3 {
	-webkit-transform: translateX(-250px);
	-moz-transform: translateX(-250px);
	-o-transform: translateX(-250px);
	-ms-transform: translateX(-250px);
	transform: translateX(-250px);
}

.content-2, .content-4 {
    -webkit-transform: translateX(250px);
	-moz-transform: translateX(250px);
	-o-transform: translateX(250px);
	-ms-transform: translateX(250px);
	transform: translateX(250px);
}

	.tabs input.tab-selector-1:checked ~ .content .content-1,
	.tabs input.tab-selector-2:checked ~ .content .content-2,
	.tabs input.tab-selector-3:checked ~ .content .content-3,
	.tabs input.tab-selector-4:checked ~ .content .content-4 {
	    -webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		-o-transform: translateX(0px);
		-ms-transform: translateX(0px);
		transform: translateX(0px);
		z-index: 100;
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	    filter: alpha(opacity=100);
	    opacity: 1;
	    -webkit-transition: all ease-out 0.2s 0.1s;
	    -moz-transition: all ease-out 0.2s 0.1s;
	    -o-transition: all ease-out 0.2s 0.1s;
	    -ms-transition: all ease-out 0.2s 0.1s;
	    transition: all ease-out 0.2s 0.1s;
	}

	.content div h2,
	.content div h3{
		color: #c0c9df;
	}

		.content div p {
			font-size: 14px;
			line-height: 22px;
			text-align: left;
			margin: 0;
			color: #fff;
			padding-left: 15px;
			border-left: 8px solid rgba(191,201,223, 0.1);
		}

@keyframes "page" {
 0% {
    left: 0;
 }
 50% {
    left: 10px;
 }
 100% {
    left: 0;
 }

}

@-moz-keyframes page {
 0% {
   left: 0;
 }
 50% {
   left: 10px;
 }
 100% {
   left: 0;
 }

}

@-webkit-keyframes "page" {
 0% {
   left: 0;
 }
 50% {
   left: 10px;
 }
 100% {
   left: 0;
 }

}

@-ms-keyframes "page" {
 0% {
   left: 0;
 }
 50% {
   left: 10px;
 }
 100% {
   left: 0;
 }

}

@-o-keyframes "page" {
 0% {
   left: 0;
 }
 50% {
   left: 10px;
 }
 100% {
   left: 0;
 }

}

/*********************************SERVIÇOS******************************/

