@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);

body {
	background-color: #0d2643;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

section {
	width: 100%;
	height: auto;
}

.tudo {
	margin: 0;
	padding: 0;
	width: 100%;
}


/*.color1 {
	background-color: #1b324c;
	background-image: url(../img/background-section1.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 1024px;
}

.color2 {
	background-color: #032755;
	background-image: url(../img/background-section2.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 750px;
}

.color3 {
	background-color: #01152e;
	background-image: url(../img/background-section3.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 750px;
}

.color4 {
	background-color: #1a3554;
	background-image: url(../img/background-section4.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 780px;
}

.color5 {
	background-image: url(../img/background-section5.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 750px;
}

.divider {
	background-color: #142131;
	width: 100%;
	height: 15px;
	position: absolute;
}*/

/*.divider img {
	position: relative;
	left: 49%;
	top: -30px;
}*/

/*********************************HEADER********************************/
/*header {
	margin: 0;
	background-image: url(../img/header-background.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	z-index: 1;
}
*/
#logo {
	background-image: url(../img/graveyard-logo.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 840px;
	height: 255px;
	margin: 0px auto;
	position: relative;
}

/*********************************HEADER********************************/


/*********************************NAVBAR********************************/
.navBar {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 100%;
	height: auto;
	background-color: #071930;
	opacity: 0.7;
	text-align: center;
	z-index: 999;
}

.navBar ul {
	margin: 0;
	padding: 0;
}

.navBar ul li {
	list-style-type: none;
	display: inline;
}

.navBar ul li a {
	margin: 0px 55px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-transform: uppercase;
	font-size: 2.35em;
	font-weight: 400;
	color: #c0c9df;
	line-height: 60px;
	outline: none;
	-webkit-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

.navBar ul li a:hover {
	text-decoration: none;
	color: #255087;
	border-top: 6px solid #255087;
}

.navBar li a.active {
	text-decoration: none;
	color: #255087;
	border-top: 6px solid #255087;
}

.last-child {
	margin-right: 0px !important;
}
/*********************************NAVBAR********************************/



#slide1, #slide2{ width: 100%; }

#slide1{
	background:url('../img/header-background.jpg') 100% no-repeat fixed;
	height: 850px;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
}

#slide2{
	background: url('../img/background-section1.png') 100% 20% no-repeat fixed;
	background-color: #1b324c;
	background-size: 100%;
	height: 900px;
	margin: 0 auto;
	overflow: hidden;
	padding: 200px 0;
	width: 100%
}

#slide3{
	background: url('../img/background-section2.png') 100% no-repeat fixed;
	background-size: 100%;
	background-color: #032755;
	height: 900px;
	padding: 170px 0 0 0;	
	background-size: cover;
}

#slide4{
	background: url('../img/background-section3.png') 100% 100% no-repeat fixed;
	background-color: #01152e;
	background-size: 100%;
	height: 900px;
	padding: 200px 0;
}

#slide5{
	background: url('../img/background-section4.png') 100% no-repeat fixed;
	background-size: 100%;
	background-color: #1a3554;
	height: 900px;
	margin: 0 auto;
	padding: 250px 0;
	background-size: cover;
}

#slide6{
	background: url('../img/background-section5.png') 100% no-repeat fixed;
	background-size: 100%;
	height: 900px;
	margin: 0 auto;
	padding: 250px 0;
}
