@media screen and (min-width: 1920px) {

	#slide1 {
		margin: 0;
		background:url('../img/header-background.jpg') 100% no-repeat fixed;
		background-size: 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 1080px;
		min-height: 1080px;
		background-size: cover;
	}

	#logo {
		background-image: url(../img/graveyard-logo1920.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 1200px;
		height: 285px;
		margin: 0px auto;
		position: relative;
		top: 350px;
	}

	#arrow {
		background-image: url(../img/arrow-down.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 128px;
		height: 128px;
		position: relative;
		margin: 260px auto 0px auto;
		top: 250px;
	}
}


@media screen and (min-width: 1600px) and (max-width:1919px) {

	#slide1 {
		margin: 0;
		background:url('../img/header-background.jpg') 100% no-repeat fixed;
		background-size: 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 1080px;
		min-height: 1080px;
		background-size: cover;
	}

	#logo {
		background-image: url(../img/graveyard-logo1920.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 1200px;
		height: 285px;
		margin: 0px auto;
		position: relative;
		margin: 0px auto;
		top: 250px;
	}

	#arrow {
		background-image: url(../img/arrow-down.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 128px;
		height: 128px;
		position: relative;
		margin: 60px auto;
		top: 250px;
	}

}

@media screen and (min-width:1440px) and (max-width: 1599px) {

	#slide1 {
		margin: 0;
		background:url('../img/header-background.jpg') 100% no-repeat fixed;
		background-size: 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 900px;
		min-height: 900px;
		background-size: cover;
	}

	#logo {
		background-image: url(../img/graveyard-logo1920.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 1200px;
		height: 285px;
		margin: 0px auto;
		position: relative;
		margin: 0px auto;
		top: 250px;
	}

	#arrow {
		background-image: url(../img/arrow-down.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 128px;
		height: 128px;
		position: relative;
		margin: 350px auto;
	}

}





@media screen and (min-width: 1366px) and (max-width: 1439px) {

	#slide1 {
		margin: 0;
		background:url(../img/header-background.jpg) 100% no-repeat fixed;
		background-size: 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 768px;
		min-height: 768px;
		background-size: cover;
	}

	#logo {
		background-image: url(../img/graveyard-logo.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 840px;
		height: 255px;
		margin: -60px auto;
		position: relative;
		top: 250px;
	}

	#arrow {
		background-image: url(../img/arrow-down.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 128px;
		height: 128px;
		position: relative;
		margin: 56px auto;
		top: 250px;
	}

}



@media screen and (min-width: 1024px) and (max-width: 1365px) {

	.box {
		padding: 30px;
	}
	
	#logo {
		background-image: url(../img/graveyard-logo.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 840px;
		height: 255px;
		margin: 200px auto 0px  auto;
		position: relative;
	}

	#arrow-down {
		position: absolute;
	    background: url(../img/arrow-down.png) 100% no-repeat;
	    background-size: 100%;
	    top: 100%;
		left: 43%;
	    width: 128px;
	    height: 128px;
	    text-decoration: none;
	}

	.content2 img {
		width: 14.8%;
	}

	.tabs input#tab-4 {
		left: 0px;
	}

	.tabs label {
		font-size: 10px;
	}

	.va-container{
		width: 840px !important;
	}

	.va-slice-3{
		background:#000 url(../img/equipe/accordion/joao1024.jpg) no-repeat center center;
	}

	.va-slice-5{
		background:#000 url(../img/equipe/accordion/renan1024.jpg) no-repeat center center;
	}

	.va-title{
		font-size:40px;
	}

	.va-nav span{
		left:50%;
	}

	.imgaju {
		margin: 0px 28px;
	}

	.google {
		margin: 0px 105px;
	}
}