@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);
body {
  background-color: #10203a;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ebf3f6;
}
strong {
  color: #435e69;
}
.transition {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
a {
  color: #a4c6cf;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
a:hover {
  color: #435e69;
}
button {
  background-color: transparent;
  border: 2px solid #435e69;
  color: #ebf3f6;
  padding: 10px;
  width: 150px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  outline: none;
}
button:hover {
  background-color: #435e69;
  color: #ebf3f6;
  border-radius: 4px;
}
.panel {
  background-color: #1d2f43;
  border: #2e4054;
}
.panel-default > .panel-heading {
  background-color: #102739;
  border-color: #2e4054;
}
.panel-heading h3 {
  color: #ebf3f6;
}
/****************************************HEADER******************************/
.slide1 {
  background: url('../img/header-background.jpg') 100% no-repeat fixed;
  background-position: center center;
  height: 850px;
  margin: 0;
  background-size: cover;
}
#logo {
  background-image: url(../img/graveyard-logo.png);
  background-repeat: no-repeat;
  width: 840px;
  height: 255px;
}
/****************************************HEADER******************************/
/****************************************BARRA DE NAVEGAÇÃO******************************/
#logo1 {
  margin-left: 50px;
  margin-right: 30px;
}
.navBar {
  z-index: 8000;
  width: 100%;
  height: 50px;
  background-color: #102739;
  border-bottom: 1px solid #435e69;
}
.navBar ul {
  display: block;
  height: 44px;
  margin: 0;
  letter-spacing: -0.31em;
}
.navBar ul li {
  display: inline-block;
  width: auto;
  height: 42px;
  letter-spacing: normal;
}
.navBar ul li a {
  font-family: 'Open Sans';
  font-size: 1.40em;
  line-height: 35px;
  display: block;
  height: 44px;
  margin: 1px 25px;
  padding: 4px 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
  outline: 0;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.navBar ul li a:hover {
  border-top: 4px solid #435e69;
  font-weight: 400;
  text-shadow: none;
  padding-top: 0;
  text-decoration: none;
}
/****************************************BARRA DE NAVEGAÇÃO******************************/